<div class="container">

<div class="text">
<div>
<%= @question %>
</div>
<br>
<div>
<p>-You</p>
</div>
</div>
<br>
<div class="text">
<div>
<%= @answer %>
</div>
<br>
<div>
<p>-Your Coach</p>
</div>
</div>
<div id="ask-new">
<%= link_to "Ask a new question", ask_path%>
</div>

</div>
